<main>

    <button id="buttonScroll">
        <img class="scroll" src="./svg/scroll.svg" alt="scrollIcon">
    </button>

    <div class="section">Section</div>
    <div class="section">Section</div>
    <div class="section">Section</div>
    <div class="section">Section</div>
    <div class="section">Section</div>
    <div class="section">Section</div>
    <div class="section">Section</div>
    <div class="section">Section</div>
    <div class="section">Section</div>
    <div class="section">Section</div>


</main>