$color-background:#35363A;
$color-main:#FFFFFF;
$color-dark:#202124;

main {
	padding: 60px;
	display: flex;
	justify-content: center;
}

.nav {
	padding: 6px 24px;
	border-radius: 60px;
	max-width: 620px;
	width: 100%;
	background-color: $color-background;
	color: $color-main;
		
	display: flex;
	gap:16px;
	

	&__button {
	margin: 6px 0;
	width: 24px;
	height: 24px;
	transition: opacity 0.6s;

	&:hover {
		opacity: 0.5;
	}
	&:active {
		opacity: 0.1;
	}
	}
	&__input {
		background-color: $color-dark;
		border-radius: 60px;
		padding: 0 20px;
		color: $color-main;
		width: 100%;
	}
} 


// input {
// 	padding: 16px 40px;
// 	border-radius: 208.136px;
// 	background:$color-dark;
// 	color: $color-main;
// 	font-size: 32px;
// 	font-weight: 500;
// 	display: flex;
// 	justify-content: flex-start;
// }

// button {
// 	margin: 6px 0;
// 	width: 24px;
// 	height: 24px;
// 	transition: opacity 0.6s;

// 	&:hover {
// 		opacity: 0.5;
// 	}
// 	&:active {
// 		opacity: 0.1;
// 	}
// }