{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main>
    <nav class="nav">
        <button id="back" class="nav__button"><img src="./svg/arrowBack.svg" height="24px" alt="backIcon"></button>

        <button id="forward" class="nav__button"><img src="./svg/arrowForward.svg" height="24px"
                alt="forwardIcon"></button>

        <button id="reload" class="nav__button"><img src="./svg/reload.svg" height="24px" alt="reloaddIcon"></button>

        <button id="home" class="nav__button"><img src="./svg/home.svg" height="24px" alt="homeIcon"></button>

        <input id="input" class="nav__input" type="url"
            value="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/url">

        <button id="go" class="nav__button"><img src="./svg/go.svg" height="24px" alt="goIcon"></button>

    </nav>


</main>

{{!
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    }}